@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #E3E9FF;
    font-family: 'Itim', cursive;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    width: 80%;
    max-width: 526px;
}

.title{
    margin: 9rem 0 1.55rem;
    background-color: #AF7EEA;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0.35rem 0;
}

ul{
    list-style: none;
}

.todo-list{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1.75rem;
    
}

.list{
    padding: 0.75rem;
    font-size: 1.35rem;
    /* border: 1px solid red; */
    margin-bottom: 1rem;
    color: #aeb5ca;
    display: flex;
    justify-content: space-between;
}

.todo-name{
    flex-grow: 1;
}

.list a{
    font-size: 1.25rem;
    color: #aeb5ca;
    margin: 0 0.75rem 0 1.25rem;
}

input, button{
    margin-bottom: 1rem;
    width: 100%;
    display: block;
}

input{
    outline: none;
    border-width: 0 0 2px;
    border-color: #AF7EEA;
    color: #aeb5ca;
    font-size: 1.25rem;
    padding: 0.25em 0 0.25em 0.25em;
}

input:hover,
input:focus {
  outline: none;
}

button{
    background-color: #AF7EEA;
    color: white;
    border: none;
    width: 50%;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 0.25em 1.25em;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.check{
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.check:hover{
    transform: rotate(360deg);
}

.checked{
    text-decoration: line-through;
}